*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: linear-gradient(10deg, rgb(25, 146, 148) 10%, rgb(29, 223, 87) 100%) no-repeat center fixed;
}

h3{
    font-weight: 300;
}

.calculator_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    width: 650px;
    height: 95%;
    margin: 10px 25px;
    overflow: hidden;
    background: linear-gradient(75deg, rgb(235, 235, 235) 0%, rgb(250, 250, 250) 60%);
    border-radius: 20px;
    box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.423);
}

.inner_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid rgba(128, 128, 128, 0.633);
    padding: 15px 3% 5px;
    gap: 3px;
    
    border-radius: 10px;
    box-shadow: 8px 8px 2px 0px rgba(0, 0, 0, 0.423);
}

.bill{
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    gap: 15%;
}

.input-group.mb-3{
    border: 1px solid rgba(0, 0, 0, 0.69);
    border-radius: 8px;
}

.percentageDiv{
    display: flex;
    justify-content: space-between;
}

.percentageDiv span{
    height: fit-content;
    zoom: 125%;
    margin: auto 0 auto ;
}

.percentageDiv h3{
    zoom: 75%;
}

footer{
    border: 1px solid black;
}
